<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- icon -->

    <!-- Google fonts End -->

    <!-- custon style Sheet & JavaScript -->
    <link rel="stylesheet" href="/static/css/shop.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/about.css">
    <script src="/static/js/index.js" defer></script>
    <script src="/static/js/shop.js" defer></script>
    <!-- custon style Sheet & JavaScript -->
    <title>Ecommerce Website</title>
  </head>
  <body class="home">
  <header th:replace="~{/component/site :: header}"/>



    <!-- ===================Shop Feature Section============================ -->

    <section class="shop-feature bg-gray grid">
      <div>
        <p class="fs-montserrat text-black">
          Home <span aria-hidden="true" class="margin">></span> About Us
        </p>
      </div>
      <h2 class="fs-poppins fs-300 bold-700">About Us</h2>
    </section>

    <!-- ========================About Section========================== -->

   <section class="about-section grid">
       <div>
           <img src="/images/about-us.png" alt="">
       </div>
       <div class="about-info">
           <h3 class="fs-poppins fs-200 text-red">Welcome To Digital Ecommerce</h3>
           <h1 class="fs-poppins fs-500 text-black">Who We Are?</h1>
           <p class="fs-montserrat fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray<br><br>

            gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me .<br><br>
            when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence .</p>
            <div class="about-btn">
                <button class="large-btn bg-red text-white fs-poppins fs-50">Shop By Category</button>
              </div>
       </div>
   </section>




    <!-- ========================About Section========================== -->


  <footer th:replace="~{/component/site :: footer}"/>



  </body>
</html>