<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- icon -->

    <!-- Google fonts End -->

    <!-- custon style Sheet & JavaScript -->
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/shop.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <script src="/static/js/index.js" defer></script>
    <!-- custon style Sheet & JavaScript -->
    <title>Ecommerce Website</title>


  </head>
  <body class="home">
  <header th:replace="~{/component/site :: header}"/>



        <!-- ===================Shop Feature Section============================ -->

        <section class="shop-feature bg-gray grid">
            <div>
              <p class="fs-montserrat text-black">
                Home <span aria-hidden="true" class="margin">></span> Blog
              </p>
            </div>
            <h2 class="fs-poppins fs-300 bold-700">Blog</h2>
          </section>

<!-- ================Blog Section======================== -->
     <!-- ============blog News=========================== -->

     <div class="blog">
  
    <section class="recent-news grid">
      <div class="news grid">
        <img src="/image/news-1.png" alt="">
        <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
          <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
        <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
      </div>
  
      <div class="news grid">
        <img src="/image/news-2.png" alt="">
        <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
          <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
        <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
      </div>
  
      <div class="news grid">
        <img src="/image/news-1.png" alt="">
        <div class="post-date fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
          <p>by Ecommercestore3/ Edit</p>
        </div>
        <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
        <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
      </div>
    </section>

    <!-- ========================================== -->

    <section class="recent-news grid">
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-2.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="post-date fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
      </section>

      <!-- ======================================== -->

      <section class="recent-news grid">
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-2.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="post-date fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
      </section>


      <!-- ========================================? -->
      <section class="recent-news grid">
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-2.png" alt="">
          <div class="fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
    
        <div class="news grid">
          <img src="/image/news-1.png" alt="">
          <div class="post-date fs-montserrat fs-100 flex padding-inline"><p>Ocutober 5, 2022</p>
            <p>by Ecommercestore3/ Edit</p>
          </div>
          <h2 class="fs-poppins padding-inline fs-200 blod-600">How to choose perfect gadgets</h2>
          <p class="fs-montserrat padding-inline fs-100">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper s ...</p>
        </div>
      </section>

</div>

<!-- ================Blog Section======================== -->


  <footer th:replace="~{/component/site :: footer}"/>


  </body>
</html>