<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/component/site :: head}"/>
<body>
<style>
    html,
    body {
        height: 80%;
        width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }
</style>
<div class="container mt-3 d-flex justify-content-center align-items-center h-100 w-100">
    <form th:action="@{/}" method="post"
          style="width: 600px; background-color: whitesmoke; padding: 20px; height: fit-content;">
        <h2 class="text-center">Reset password</h2>
        <input class="d-none" type="text" th:value="${userId}" name="id">
        <input class="d-none" type="text" th:value="${code}" name="code">
        <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
            <label for="pwd">Confirm your Password:</label>
            <input type="password" class="form-control" id="pwd1" placeholder="Confirm your password">
        </div>
        <p class="m-2 p-2 bg-warning" th:if="${message != null}" th:text="${message}"/>
        <button type="submit" class="btn btn-primary">Reset</button>
        <a href="/" class="btn btn-primary">Back Home</a>
    </form>
</div>
</body>
</html>